html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #eff1f2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  text-align: left;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 100%;
  background: #eff1f2;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 19px;
  color: #1d4059;
  font-family: Montserrat, Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.4;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 17px;
  line-height: 1.4;
  color: #3e80af;
  font-family: Montserrat, Helvetica, sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

p {
  font-size: 16px;
  color: #333;
  font-family: Montserrat, Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

small {
  font-size: 16px;
  color: #1d4059;
  font-family: Montserrat, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
}

a {
  font-family: Montserrat, Helvetica, sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #777;
}

/* EDIT DESCRIPTION LINK COLOR */
a:hover {
  color: #0d96e5;
}

.section {
  width: 90%;
  max-width: 600px;
  position: relative;
  margin: 0 auto;
  background: #fff;
}

.social-spacing {
  margin-left: 16px;
  margin-right: 16px;
  white-space: nowrap;
  line-height: 1.5;
  color: white;
}

.clear {
  clear: both;
}

.avy {
  opacity: 0.95;
  width: 150px;
  margin-bottom: 20px;
}

.avy:hover {
  opacity: 1;
}

.round {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; /* future proofing */
  -khtml-border-radius: 50%; /* for old Konqueror browsers */
  -webkit-appearance: none;
}

/* EDIT LINK UNDERLINE COLOR */
#dropdownMenuButton1 {
  background-color: #990606;
  color: #fff;
  border-style: solid;
  padding: 15px;
  width: 500px;
  margin: 15px auto;
}
.dropdown-item {
  color: #000;
  width: 600px;
}
#dropdownMenuButton2 {
  background-color: #e30c67;
  color: #fff;
  border-style: solid;
  padding: 15px;
  width: 500px;
  margin: 15px auto;
}
#dropdownMenuButton3 {
  background-color: #1d4059;
  color: #fff;
  border-style: solid;
  padding: 15px;
  width: 500px;
  margin: 15px auto;
}

.underline:hover {
  border-bottom: 1px solid #0d96e5;
}

.preul {
  border-bottom: 1px solid #eee;
}
.center-align {
  text-align: center;
}
.white {
  color: #fff;
}
.light-grey {
  color: #29548d;
  padding-top: 100px;
}

.divider {
  border-bottom: 1px solid #eee;
}

/* EDIT BUTTON BACKGROUND COLOR */
.padding-top-50 {
  padding-top: 40px;
}
.padding-bottom-50 {
  padding-bottom: 10px;
  background-color: #eff1f2;
}
.padding-bottom-100 {
  padding-top: 70px;
  background-color: #eff1f2;
}
.padding-top-25 {
  padding-top: 25px;
}
.padding-top-15 {
  padding-top: 15px;
  background-color: #eff1f2;
}
@media screen and (min-width: 320px) and (max-width: 640px) {
  #dropdownMenuButton1 {
    background-color: #990606;
    color: #fff;
    border-style: solid;
    padding: 15px;
    width: 285px;
    margin: 10px auto;
  }
  #dropdownMenuButton2 {
    background-color: #e30c67;
    color: #fff;
    border-style: solid;
    padding: 15px;
    width: 285px;
    margin: 10px auto;
  }
  #dropdownMenuButton3 {
    background-color: #29548d;
    color: #fff;
    border-style: solid;
    padding: 15px;
    width: 285px;
    margin: 10px auto;
  }
  .dropdown-item {
    color: #000;
    width: 100%;
  }
}
